@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/*--slides--*/

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/*-- Jumbotron--*/
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  background-color: floralwhite;
  padding-bottom: 2rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .socail a {
    font-size: 3em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }
  .logo {
    padding-top: 5px;
    max-width: 100px;
  }

  .socail a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .socail a {
    font-size: 2em;
    padding: 0.7rem;
  }
}

/*---Firefox Bug Fix--*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("src/assets/img/fixBck.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.carousel {
  margin-top: 20px;
}

/*--Connect--*/
.social a {
  font-size: 3.5em;
  padding: 3rem;
  transition: 1s;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
  transform: scale(1.3);
  z-index: 20px;
}
