<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><i class="fas fa-viruses"></i
      ><span style="color: Red; font-size: 20px;"> Covid-19</span>
      coronavirus</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="stats" routerLinkActive="active"
            ><i class="fa fa-home"></i> Stats</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active"
            ><i class="fa fa-info-circle"></i> About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
