<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div class="card" style="width: 20rem;">
        <img src="{{ img1 }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Statistics of Coronavirus</h5>
          <p class="card-text">
            Live statistics and coronavirus news tracking the number of
            confirmed cases, recovered patients, and death toll due to the
            COVID-19
          </p>
          <a
            href="#"
            routerLink="stats"
            class="btn btn-primary"
            style="margin-left: 5rem;"
            >see statistics</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-8">
      <div class="card" style="width: 20rem;">
        <img src="{{ img2 }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">What is Covid ?</h5>
          <p class="card-text">
            Coronaviruses are a large family of viruses that cause respiratory
            infections. These can range from the common cold to more serious
            diseases.
          </p>
          <a
            href="#"
            routerLink="about"
            class="btn btn-primary"
            style="margin-left: 6rem;"
            >see more
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
